<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue的v-show使用</title>


</head>
<body>

    <div id="app">

        <h2 v-if="false">阿昌学vue</h2>

        <h2 v-if="show">阿昌Googogogo</h2>



    </div>

    <!--引入vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
           el:"#app",
           data:{
               show:true,
           },
           methods:{


           }
        });
    </script>

</body>
</html>